:root{
    --font-color: #303841;
    --color1: #303841;
    --color2: #3a4750;
    --color3: #d33b4f;
    --color4: #d3d6db;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100vh;
    width: auto;
    color: var(--color4);
}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color2);
    margin: 0;
}

.wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color4);
    padding: 1rem;
    gap: 1rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color4);
    width: 100vw;
    background-color: var(--color1);
    font-size: 2rem;
}

.board{
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
}

button:disabled{
    color:var(--color3);
}

#start-form{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.content{
    margin: 2rem;
    gap: 1rem;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-container {
    display: none;
    position: fixed;
    flex-direction: column;
    gap: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    color: var(--color1);
    font-size: 2rem;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.item{
    border: 0.1rem solid var(--color1);
    background-color: var(--color4);
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    text-align: center;
}

button{
    background-color: var(--color4);
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
}
